<div class="valign-wrapper row register center">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l6 pull-l3">
        <br>
        <span class="card-title flow-text">Log in to develoPosts</span>
        <hr>
        <form class="col s12" method="POST" action="/login">
            <div class="row">
                <div class="input-field col s12">
                    <input name="username" id="email" type="email" class="validate">
                    <label for="username">Email</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col s12">
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div>
                    <input class="btn-large red darken-1 register-btn" type="submit" value="Sign in">
                </div>
            </div>
        </form>
    </div>
</div>