<div class="valign-wrapper row login">
    <div class="col card hoverable s6 pull-s3 m6 pull-m3 l6 pull-l3">
        <div class="card-content">
            <span class="card-title">Log in to develoPosts</span>
            <hr>
            <div class="row">
                <div class="col s12 m12 sign-up">
                    <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i> Google
                    </a>
                </div>
                <div class="col s12 m12 sign-up">
                    <a class="btn grey darken-3 white-text" href="/auth/github"><i class="fa fa-github"></i>
                        Github
                    </a>
                </div>
                 <div class="col s12 m12 sign-up">
                    <a class="btn grey lighten-5 black-text" href="/login/email"><i class="fa fa-sign-in"></i>
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>





