<div class="valign-wrapper row register center">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l6 pull-l3">
        <br>
        <span class="card-title flow-text">Change password</span>
        <hr>
        <form class="col s12" method="POST" action="/register/edit/password?_method=PUT">
        <input type="hidden" name="_method" value="PUT">
              <div class="row">
                <div class="input-field col s12">
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="confirm" type="password" class="validate">
                    <label for="confirm">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <div>
                    <input class="btn-large red darken-1 register-btn" type="submit" value="Update Password">
                </div>
            </div>
        </form>
    </div>
    
</div>